<div class="justcenter">
    <p class="md-display-3">InnoValidClinic</p>
    <img src="https://i.ytimg.com/vi/tjJw2Nz8rw8/hqdefault.jpg" mat-card-image/>
    <p class="md-subhead">
        Once upon a time in a kingdom of wellness, there lived a clinic named Infoclinic. Infoclinic was renowned for 
        its exceptional care and magical healing powers. With a team of skilled doctors, state-of-the-art facilities, 
        and a warm and welcoming atmosphere, Infoclinic had become the first choice for those seeking medical attention. 
    </p>
    <p class="md-subhead">
        Infoclinic was more than just a clinic, it was a place where the impossible became possible. From curing the most 
        persistent of illnesses to restoring happiness and vitality, the clinic had a reputation for performing miracles. 
        Its secret to success lay in the combination of cutting-edge technology and a compassionate approach to treatment. 
    </p>
    <p class="md-subhead">
        Patients of Infoclinic always left with a spring in their step and a heart filled with gratitude. They would return 
        home to their families and spread the word of the incredible care they received, making Infoclinic the most sought-after 
        clinic in the kingdom. And so, the legend of Infoclinic lived on, a beacon of hope and a shining example of what could 
        be achieved when the power of modern medicine was combined with a touch of magic.
    </p>
  </div>