<mat-tab-group>
  <mat-tab label="Appointments">
    <div style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px;">
        <button mat-raised-button color="primary" (click)="openDialog()">Primary</button>
    </div>
      <app-appointment-view-table></app-appointment-view-table>
  </mat-tab>
  <mat-tab label="Doctors">
      <app-doctor-view-table></app-doctor-view-table>
  </mat-tab>
  <mat-tab label="Services"> 
      <app-service-view-table></app-service-view-table>
  </mat-tab>
</mat-tab-group>
