<p>
    <mat-toolbar color="primary">
        <span>InnoValidClinic</span>
        <div style="margin-left: 80%">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="/"></mat-icon>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <div [hidden]="authService.isDoctor()">
                    <button mat-menu-item (click)="create()">
                        <mat-icon>create</mat-icon>
                        <span>Create</span>
                    </button>
                </div>

                <div>
                    <button mat-menu-item (click)="view()">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>View</span>
                    </button>
                </div>

                <div [hidden]="!authService.isAuth$.value">
                    <button mat-menu-item routerLink="**" (click)="signOut()">
                        <mat-icon>logout</mat-icon>
                        <span>Sign out</span>
                    </button>
                </div>

                <div [hidden]="authService.isAuth$.value">
                    <button mat-menu-item routerLink="/login">
                        <mat-icon>login</mat-icon>
                        <span>Sign In</span>
                    </button>
                    <button mat-menu-item routerLink="/signup">
                        <mat-icon>add</mat-icon>
                        <span>Sign up</span>
                    </button>
                </div>

            </mat-menu>
        </div>
    </mat-toolbar>
</p>
<router-outlet>
</router-outlet>